*{
    padding: 0;
    margin: 0;
    font-family: "Azeret Mono", monospace;
    scroll-behavior: smooth;  /* I learn it in crome */
}
p{
    color: rgb(95, 93, 93);
}
/* comon fiture *//* comon fiture *//* comon fiture *//* comon fiture *//* comon fiture *//* comon fiture *//* comon fiture */


.nav_text_with_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 23px;
}
.nav_button_container > li{
    list-style-type: none;
}
.nav_button_container > li >a {
    text-decoration: none;
    color: black;
    padding: 9px 13px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}
/* END NAV PART */ /* END NAV PART */ /* END NAV PART */ /* END NAV PART */ /* END NAV PART */ /* END NAV PART */ /* END NAV PART */


.banner_container_with_img_and_text{
    background: url("./image/Hero-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 86vh;
    margin-bottom: 120px;
}
.banner_container {
    text-align: center; /* WHY IS NOT WORKING */
    width: 84%;
    margin: 0px auto;
}
.banner_container h1{
    font-size: 40px;
    font-weight: 600;
}
.banner_container > p{
    font-size: 17px;
    text-align: center;
}
.banner_container a{
    padding: 18px 26px;
    background: black;
    color: white;
    border: none;
    font-size: 19px;
    border-radius: 5px;
    text-decoration: none;

}
/* END BANNER PART */

.Why_Web_Development_container {
    width: 90%;
    margin: 0px auto;
    /* background: rgba(255, 153, 0, 0.192); */
    background: rgba(13, 19, 33, 0.075);
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left:10px ;
    padding-right:10px ;
    border-radius: 6px;
}
.Why_Web_Development_container > h1{
    text-align: center;
    padding-top: 15px;
    font-size: 33px;
    font-weight: 600;
}
.Why_Web_Development_container > p{
    text-align: center;
}
.cards_container{
    margin-top: 30px;
    padding: 10px 0px;
}
.card{
    width: 90%;
    margin: 0px auto;
    background: #ffffff;
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: 7px;
}
.card_items_flex{
    display: flex;
}
.card_text_container1 > p{
    text-align: start;
}
.card_text_container1>h2{
    color: rgb(80, 79, 79);;
}
.card_text_container2 > h2 {
    text-align: end; 
    color: rgb(80, 79, 79);/* WHY IS NOT WORKING */
}
.card_text_container2>p{ /* solve another way */
    text-align: end;
}
.card_text_container3 > h2{
    text-align: start;
    color: rgb(80, 79, 79);
}
.card_text_container3 >p{
    text-align: start;
}
.card_text_container1 > h2, p, .card_text_container2 > h2,p , .card_text_container3 > h2,p{
    padding: 12px 16px;
}
.button_container{
  padding: 14px 23px;
}
.button_container > button{
    padding: 8px 20px;
    border: none;
    border: 1px solid black;
    background: transparent;
}
.button_container2{
    text-align: end;
    padding: 14px 23px;
  }
  .button_container2 > button{
    padding: 8px 20px;
    border: none;
    border: 1px solid black;
    background: transparent;
}
/* END MAIN PART'S FIRST SECTION */


.my_inspiration_container > h1{
    margin-top: 50px;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
}
.my_inspiration_container > p{
    text-align: center;
}
.video_container{
    padding: 8px 13px;
    height: 510px;
    border-radius: 10px;
    border: 2px solid rgba(94, 94, 94, 0.151);
    width: 75%;
    margin: 10px auto;
    background: rgba(228, 228, 228, 0.192);
    display: flex;
    align-items: center;
}
.video_container>iframe{
    width: 95%;
    height: 95%;
    margin: auto auto;
    border-radius: 10px;

}
/* END MAIN PART'S SECOUND SECTION */

.My_Current_Target_container{
    margin-top: 150px;
}
.My_Current_Target_container > h1{
    font-size: 33px;
    font-weight: 600;
    text-align: center;
}
.My_Current_Target_container > p{
    text-align: center;
}
.target_cards_container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    gap: 25px;
}
.target_card1{
    background: rgba(255, 102, 0, 0.144);
    border-radius: 7px;
}
.target_card2{
    background: rgba(0, 68, 255, 0.123);
    border-radius: 7px;
}                           
.target_card3{
    background: rgba(255, 255, 0, 0.192);
    border-radius: 7px;
}
.target_card1 > img{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.target_card2 > img{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.target_card3 > img{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.target_cards_container > div >h1{
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(80, 79, 79);
}
.ancor_link > a{
    color: black;
    display: block;
    padding: 15px;
    margin-left: 10px;
}
/* END MAIN PART'S THIRTH SECTION */

.My_Next_Target_container{
    margin-top: 150px;
}
.My_Next_Target_container>h1{
    text-align: center;
    font-size: 33px;
    font-weight: 600;

}
.My_Next_Target_container>p{
    text-align: center;
}
.My_Next_Target_cards_container{
    width:90%;
    margin: 0px auto;
}
.Next_Target_card{
    display: flex;
    margin-top: 22px;
    padding:20px 13px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.164);
}
.img_container{
    width:30%;
}
.img_container img{
    width: fit-content;
}
.Next_Target_text_container>p{
    padding: 10px 0px;
    margin-top: 17px;
}
.Next_Target_text_container>h1{
    font-size: 30px;
    font-weight: 500;
    color: rgb(80, 79, 79);
}
.Next_Target_text_container>div>a{
    color: black;
}
/* END MAIN PART'S FORTH SECTION  */

.contact_container_for_margin-top{
    margin-top:100px;
}
.contact_container{
    text-align: center;
    display: flex;
    align-items: center;
    background:linear-gradient(180deg,rgba(0, 0, 0, 0.795),rgba(0, 0, 0, 0.178)),url("./image/handshake.jpg") no-repeat;
    background-position: center;
    block-size: cover;
    height: 400px;
    width: 90%;
    margin: 0px auto;
    border-radius: 6px;
    color: white;
}
.contact_container>div>h1{
    font-size: 45px;
    font-weight: 600;
}
.contact_container>div>p{
    color: rgb(165, 165, 165);
}
.input_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input_container>input{
    border: none;
    outline: none;
    width: 550px;
    height: 38px;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px 10px;
}
.input_container>button[type="submit"]{
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    padding: 12px 26px;
}
/* END MAIN PART'S FORTH SECTION */
/* END MAIN PART */ /* END MAIN PART */ /* END MAIN PART */ /* END MAIN PART */ /* END MAIN PART */ /* END MAIN PART */ /* END MAIN PART */





/* Footer start *//* Footer start *//* Footer start *//* Footer start *//* Footer start *//* Footer start *//* Footer start *//* Footer start */


.footer_container{
    margin-top: 100px;
    height: 65px;
    background: rgba(223, 196, 196, 0.295);
    display: flex;
    align-items: center;
}
.footer_text_and_icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.footer_icons_container{
    display: flex;
    gap: 25px;
}